.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  /* position: relative; */
  padding: 0 20px;
  background: #413f3f;
  top: 0;
  z-index: 50;
  width: 100%;
}

.nav__menu {
  cursor: pointer;
}

.nav__menu div {
  transition: var(--transition-2);
  margin: 4px 0;
  width: 40px;
  height: 6px;
  background: #fff;
  border-radius: 10px;
}

.nav__userImg {
  height: 50px;
  width: 50px;
  object-fit: cover;
  z-index: 1000;
  position: relative;
  border-radius: 50%;
}

.nav__registerBg {
  position: absolute;
  right: 0;
  top: 0;
}

.nav__registerBg img {
  height: 70px;
  z-index: -1;
}

/* ------hover menu ------- */

.nav__userImg:hover {
  opacity: 0.8;
}

.nav__menu--hover div {
  background: var(--red-light);
}

.nav__menu--hover div:first-child {
  width: 20px;
}
.nav__menu--hover div:last-child {
  width: 33px;
}

.nav__register > a {
  z-index: 500;
}

/* ------hover menu ------- */
