:root {
  --red-light: #ff6161;
  --light-text: #ececec;
  --dark-text: #32333d;
  --transition-2: 0.2s ease-in-out;
  --bg-dark-gray: #413f3f;
  --bg-body: #382b2b;
  --padding-sportbox: 16px;
  --blue-light: #13c3e2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: var(--bg-body);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  margin-top: 70px;
}
